

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caacupe+One&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Knewave&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Spray+Paint&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Lato", sans-serif;


}

main {
    flex: 1;
    
}

.taustakuva {
    background-image: url("whitecloud.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    border-color: rgba(255, 255, 255, 0.507);
    border-style: solid;
    background-color: rgba(120, 194, 216, 0.781);
    text-align: center;
    padding: 7px;
    margin: 2px;
}

header h1 {
    font-size: 0.8em;
    color:white;
}

#pisteet {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2em;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#button img {
    width: 450px;
    height: auto;
    transition: 0.5s;
    border-radius: 100%;

    filter: drop-shadow(0 0 5px rgba(241, 242, 243, 0.9));

    animation: pyori 200s linear infinite;
}

@keyframes pyori {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


#button img:hover {
    width: 470px;
    transition: 0.5s;
    filter: drop-shadow(0 0 8px rgb(243, 244, 245));
}


.kauppa {
    margin-top: -670px; 
    margin-left: 30px;
    text-align: center; 

}
.kauppa p {
    border-radius: 10px;
    padding: 20px;
    color:white;
    font-size: 2em;
    border-style: solid;
    margin: 0;
    padding-bottom: 750px;
    margin-right: 1400px;
    border-style: 5px solid;
    border-color: white;
    box-shadow: 0 2px 15px white;
    background-image: linear-gradient(to right, rgba(87, 103, 107, 0.616), rgba(58, 98, 145, 0.904));

    

}

.valinta1 {
    background-image: linear-gradient(to right, blue, darkblue);
    font-size: 0.9em;
    border-radius: 5px;
    text-align: left; 
    border-style: solid;
    border-color: rgba(169, 169, 169, 0.39);
    align-items: center;
    margin-right: 1500px;
    margin-left: 120px;
    padding: 5px;
    margin-top: -700px;
    transition: 0.3s;
    box-shadow: 0 1px 7px white;
}

.valinta1 #klikkausvoima {
    padding: 10px;
    font-size: 1.1em;
    font-weight: bolder;
    color:red;
}
.valinta1 p {

    color:white;
    margin-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
.valinta1:hover {
    cursor: grab;
    transform: scale(1.1);
    transition: 0.3s;
}


.valinta2 {
    background-image: linear-gradient(to right, blue, darkblue);
    font-size: 0.9em;
    border-radius: 5px;
    text-align: left; 
    border-style: solid;
    border-color: rgba(169, 169, 169, 0.39);
    padding: 5px;
    margin-right: 1500px;
    margin-left: 120px;
    margin-top: 40px;
    transition: 0.3s;
    box-shadow: 0 1px 7px white;
}


.valinta2 p {

    color:white;
    margin-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
}


.valinta2 #autoClickerHinta {
    padding: 10px;
    font-size: 1.1em;
    font-weight: bolder;
    color:red;
}

.valinta2:hover {
    cursor: grab;
    transform: scale(1.1);
    transition: 0.3s;
}
.valinta3 {
    background-image: linear-gradient(to right, blue, darkblue);
    font-size: 0.9em;
    border-radius: 5px;
    text-align: left; 
    border-style: solid;
    border-color: rgba(169, 169, 169, 0.39);
    padding: 5px;
    margin-right: 1500px;
    margin-left: 120px;
    margin-top: 40px;
    transition: 0.3s;
    box-shadow: 0 1px 7px white;
}

.valinta3 p {

    color:white;
    margin-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.valinta3 #autoClickerVoimaUpgrade {
    font-weight: bold;
}

.valinta3 #autoClickerUpgradeHinta {
    padding: 20px;
    font-size: 1.1em;
    font-weight: bold;
}


.valinta3:hover {
    cursor: grab;
    transform: scale(1.1);
    transition: 0.3s;
}
.valinta4 {
    background-image: linear-gradient(to right, blue, darkblue);
    font-size: 0.9em;
    border-radius: 5px;
    text-align: left; 
    border-style: solid;
    border-color: rgba(169, 169, 169, 0.39);
    padding: 5px;
    margin-right: 1500px;
    margin-left: 120px;
    margin-top: 40px;
    transition: 0.3s;
    box-shadow: 0 1px 7px white;
}

.valinta4 p {

    color:white;
    margin-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
.valinta4:hover {
    cursor: grab;
    transform: scale(1.1);
    transition: 0.3s;
}





.avaruus {
    border-color: white;
    border-style: solid;
    margin-top: -420px; 
    text-align: center;
    margin-left: 1500px;
    margin-right: 50px;
    padding-bottom: 380px;
    background-image: linear-gradient(to right, rgba(9, 63, 80, 0.562), rgba(117, 109, 108, 0.39));

}



.avaruus #otsikko {
    font-size: 1.2em;
    color:white;
    cursor:default;
}

.avaruus #planeetta1 {
    background-image: linear-gradient(to right, blue, darkblue);
    font-size: 1.1em;
    font-weight: bold;
    border-style: solid;
    color:white;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.5s;
    cursor:default;
}

.avaruus #planeetta1:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


footer {
    border-color: white;
    text-align: center;
    border-style: solid;
    margin-bottom: 0px;
    padding: 4px;
    background-color: rgba(120, 194, 216, 0.432);
}

footer h3 {
    border-color: rgba(255, 255, 255, 0.507);
    border-style: solid;
    background-color: rgba(120, 194, 216, 0.781);
    color:white;
    font-size: 0.7em;
}